---
import { cta, navLinks } from '../../data/site';
import { calendlyPopupOnclick } from '../../utils/calendly';
import { rootPath } from '../../utils/rootPath';

const logoBase = '/vendor/webflow/assets/6525b8dcb0a19bb9e7ccde75_Miri_Horizontal_wht_BG%20%282%29';
const logoSrc = rootPath(`${logoBase}.png`);
const logoSrcset = [500, 800, 1080, 1600, 2000, 2600, 3200]
  .map((w) => `${rootPath(`${logoBase}-p-${w}.png`)} ${w}w`)
  .concat(`${logoSrc} 6174w`)
  .join(', ');
const calendlyOnclick = calendlyPopupOnclick(cta.calendlyUrl);
---

<div
  data-animation="default"
  class="navbar2_component w-nav"
  data-easing2="ease"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-collapse="medium"
  role="banner"
  data-duration="400"
>
  <div class="navbar2_container">
    <a href="index.html#header" class="navbar2_logo-link w-nav-brand">
      <img
        src={logoSrc}
        loading="lazy"
        sizes="119px"
        height="27"
        alt="Miri Consulting"
        srcset={logoSrcset}
        class="navbar2_logo"
      />
    </a>
    <nav role="navigation" class="navbar2_menu w-nav-menu">
      {navLinks.map((link) => (
        <a href={link.href} class="navbar2_link w-nav-link">{link.label}</a>
      ))}
    </nav>
    <div class="navbar2_button-wrapper">
      <div class="navbar2_menu-button w-nav-button">
        <div class="menu-icon2">
          <div class="menu-icon2_line-top"></div>
          <div class="menu-icon2_line-middle">
            <div class="menu-icon_line-middle-inner"></div>
          </div>
          <div class="menu-icon2_line-bottom"></div>
        </div>
      </div>
      <div class="w-embed w-script">
        <style is:inline>
          .calendly-widget {
            background-color: #0094ff;
            color: white;
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            border-radius: 2rem;
            font-weight: 300;
          }
        </style>
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
        <script
          is:inline
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async
        ></script>
        <a href={cta.calendlyUrl} class="calendly-widget" onclick={calendlyOnclick}>Connect</a>
      </div>
    </div>
  </div>
</div>
